In [1]:
import yfinance as yf
import pandas as pd

In [8]:
tickers = ["aapl", "tsla", "meta", "pltr"]

for ticker in tickers:
    hourly_data = yf.download(ticker, period="700d", interval="1h")
    daily_data = yf.download(ticker, period="700d", interval="1d")

    hourly_data.to_csv(f"{ticker}_h.csv")
    daily_data.to_csv(f"{ticker}_d.csv")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
daily_data.to_csv('aapl_h.csv')  # Set index=False if you don't want to write row indices

In [10]:
testing = pd.read_csv('filename.csv')

In [11]:
testing.head(4)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-12-29,179.330002,180.630005,178.139999,179.380005,176.683167,62348900
1,2021-12-30,179.470001,180.570007,178.089996,178.199997,175.520905,59773000
2,2021-12-31,178.089996,179.229996,177.259995,177.570007,174.900345,64062300
3,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.273575,104487900